openapi: 3.2.0
info:
  title: API Settings API
  version: unknown
servers:
- url: https://cgc-api.sbgenomics.com/v2
security:
- {}
tags:
- name: API Settings
paths:
  ? ''
  : post:
      summary: Start a bulk DRS import job
      description: ''
      operationId: start-a-bulk-drs-import-job
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - API Settings
    get:
      summary: Get details of a bulk DRS import job
      description: ''
      operationId: get-details-of-a-bulk-drs-import-job
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - API Settings
    put:
      summary: Overwrite a volume members' permissions
      description: ''
      operationId: overwrite-a-volume-members-permissions
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - API Settings
    delete:
      summary: Remove members from a volume
      description: ''
      operationId: remove-members-from-a-volume
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - API Settings
    patch:
      summary: Modify a volume members' permissions
      description: ''
      operationId: modify-a-volume-members-permissions
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - API Settings
x-readme:
  headers: []
x-readme-fauxas: true
