{"openapi":"3.1.0","info":{"title":"Seven Bridges Platform","version":"unknown"},"servers":[{"url":"https://api.sbgenomics.com/v2"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/":{"get":{"summary":"List all API paths","description":"","operationId":"list-all-api-paths","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"rate_limit_url\": \"https://api.sbgenomics.com/v2/rate_limit\",\n  \"user_url\": \"https://api.sbgenomics.com/v2/user\",\n  \"users_url\": \"https://api.sbgenomics.com/v2/users\",\n  \"billing_url\": \"https://api.sbgenomics.com/v2/billing\",\n  \"projects_url\": \"https://api.sbgenomics.com/v2/projects\",\n  \"files_url\": \"https://api.sbgenomics.com/v2/files\",\n  \"tasks_url\": \"https://api.sbgenomics.com/v2/tasks\",\n  \"apps_url\": \"https://api.sbgenomics.com/v2/apps\",\n  \"action_url\": \"https://api.sbgenomics.com/v2/action\",\n  \"upload_url\":\"https://api.sbgenomics.com/v2/upload\",\n  \"storage_url\": \"https://api.sbgenomics.com/v2/storage\"\n}"}},"schema":{"type":"object","properties":{"rate_limit_url":{"type":"string","example":"https://api.sbgenomics.com/v2/rate_limit"},"user_url":{"type":"string","example":"https://api.sbgenomics.com/v2/user"},"users_url":{"type":"string","example":"https://api.sbgenomics.com/v2/users"},"billing_url":{"type":"string","example":"https://api.sbgenomics.com/v2/billing"},"projects_url":{"type":"string","example":"https://api.sbgenomics.com/v2/projects"},"files_url":{"type":"string","example":"https://api.sbgenomics.com/v2/files"},"tasks_url":{"type":"string","example":"https://api.sbgenomics.com/v2/tasks"},"apps_url":{"type":"string","example":"https://api.sbgenomics.com/v2/apps"},"action_url":{"type":"string","example":"https://api.sbgenomics.com/v2/action"},"upload_url":{"type":"string","example":"https://api.sbgenomics.com/v2/upload"},"storage_url":{"type":"string","example":"https://api.sbgenomics.com/v2/storage"}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"http","code":"GET /v2/ HTTP/1.1\nHost: api.sbgenomics.com\nX-SBG-Auth-Token: 3210a98c1db9318fa9d9273156740f74"}],"samples-languages":["http"]}}},"/users/{username}":{"get":{"summary":"List user resources","description":"","operationId":"list-user-resources","parameters":[{"name":"username","in":"path","description":"Username of the user you are querying. You can currently view only your own user information.","schema":{"type":"string"},"required":true},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"X-SBG-Auth-Token","in":"header","description":"Your Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/users/rfranklin\",\n    \"username\": \"rfranklin\",\n    \"email\": \"rosalind.franklin@sbgenomics.com\",\n    \"first_name\": \"Rosalind\",\n    \"last_name\": \"Franklin\",\n    \"role\": \"MEMBER\",\n    \"tags\": [\n        {\n            \"tag\": \"automations\",\n            \"expires_at\": 2555971200000\n        },\n        {\n            \"tag\": \"beta-web-uploader\",\n            \"expires_at\": 2535545447000\n        }\n    ],\n    \"affiliation\": \"Seven Bridges Genomics\",\n    \"phone\": \"\",\n    \"address\": \"\",\n    \"city\": \"\",\n    \"state\": \"\",\n    \"country\": \"USA\",\n    \"zip_code\": \"\"\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/users/rfranklin"},"username":{"type":"string","example":"rfranklin"},"email":{"type":"string","example":"rosalind.franklin@sbgenomics.com"},"first_name":{"type":"string","example":"Rosalind"},"last_name":{"type":"string","example":"Franklin"},"role":{"type":"string","example":"MEMBER"},"tags":{"type":"array","items":{"type":"object","properties":{"tag":{"type":"string","example":"automations"},"expires_at":{"type":"integer","example":2555971200000,"default":0}}}},"affiliation":{"type":"string","example":"Seven Bridges Genomics"},"phone":{"type":"string","example":""},"address":{"type":"string","example":""},"city":{"type":"string","example":""},"state":{"type":"string","example":""},"country":{"type":"string","example":"USA"},"zip_code":{"type":"string","example":""}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nuser = api.users.get(user='RFranklin')\n\nprint(user.first_name, user.last_name, user.email)"}],"samples-languages":["python"]}}},"/billing":{"get":{"summary":"List billing API paths","description":"This call returns a list of paths used to access billing information via the API.","operationId":"list-billing-sub-urls","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"billing_groups_url\": \"https://api.sbgenomics.com/v2/billing/groups/\",\n  \"invoices_url\": \"https://api.sbgenomics.com/v2/billing/invoices/\"\n}"}},"schema":{"type":"object","properties":{"billing_groups_url":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/groups/"},"invoices_url":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/invoices/"}}}}}}},"deprecated":false}},"/user":{"get":{"summary":"Get my information","description":"","operationId":"get-my-information","parameters":[{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"X-SBG-Auth-Token","in":"header","description":"Your Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"href\": \"https://api.sbgenomics.com/v2/users/RFranklin\",\n  \"username\": \"RFranklin\",\n  \"email\": \"rosalind.franklin@sbgenomics.com\",\n  \"first_name\": \"Rosalind\",\n  \"last_name\": \"Franklin\",\n  \"role\": \"MEMBER\",\n  \"tags\": [\n        {\n            \"tag\": \"tcga-oa\",\n            \"expires_at\": 3053937952000\n        },\n        {\n            \"tag\": \"tcga-ca\",\n            \"expires_at\": 1506729600000\n        }\n    ],\n  \"affiliation\": \"Seven Bridges\",\n  \"phone\": \"\",\n  \"address\": \"\",\n  \"city\": \"London\",\n  \"state\": \"\",\n  \"country\": \"United Kingdom\",\n  \"zip_code\": \"\"\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/users/RFranklin"},"username":{"type":"string","example":"RFranklin"},"email":{"type":"string","example":"rosalind.franklin@sbgenomics.com"},"first_name":{"type":"string","example":"Rosalind"},"last_name":{"type":"string","example":"Franklin"},"role":{"type":"string","example":"MEMBER"},"tags":{"type":"array","items":{"type":"object","properties":{"tag":{"type":"string","example":"tcga-oa"},"expires_at":{"type":"integer","example":3053937952000,"default":0}}}},"affiliation":{"type":"string","example":"Seven Bridges"},"phone":{"type":"string","example":""},"address":{"type":"string","example":""},"city":{"type":"string","example":"London"},"state":{"type":"string","example":""},"country":{"type":"string","example":"United Kingdom"},"zip_code":{"type":"string","example":""}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"http","code":"GET /v2/user HTTP/1.1\nHost: api.sbgenomics.com\nX-SBG-Auth-Token: 3210a98c1db9318fa9d9273156740f74"},{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nme = api.users.me()\n\nprint(me.username, me.email)","name":"Python"},{"language":"curl","code":"curl -sL \\\n     --request GET \\\n     --url https://api.sbgenomics.com/v2/user \\\n     --header 'Accept: application/json' \\\n     --header 'X-SBG-Auth-Token: <your-token-here>'"}],"samples-languages":["http","python","curl"]}}},"/billing/groups/{billing_group}":{"get":{"summary":"Get a single billing group","description":"This call retrieves a single billing group, specified by `{billing_group}`. To find the `billing_group`, use the call [list billing groups](ref:list-your-billing-groups) to list all your billing groups. The information returned includes the billing group owner, the total balance, and the status of the billing group (pending or confirmed).","operationId":"get-a-single-billing-group","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"billing_group","in":"path","description":"ID of the billing group you are querying. You can get the ID by [listing your billing groups](ref:list-your-billing-groups).","schema":{"type":"string"},"required":true},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7\",\n  \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7\",\n  \"owner\": \"RFranklin\",\n  \"name\": \"RFranklin Billing Group\",\n  \"type\": \"free\",\n  \"pending\": false,\n  \"disabled\": false,\n  \"balance\": {\n    \"currency\": \"USD\",\n    \"amount\": 0\n  }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7"},"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7"},"owner":{"type":"string","example":"RFranklin"},"name":{"type":"string","example":"RFranklin Billing Group"},"type":{"type":"string","example":"free"},"pending":{"type":"boolean","example":false,"default":true},"disabled":{"type":"boolean","example":false,"default":true},"balance":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"amount":{"type":"integer","example":0,"default":0}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nbilling_group = api.billing_groups.get(\n    id='ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7'\n)\n\nprint(billing_group.name)"}],"samples-languages":["python"]}}},"/billing/groups":{"get":{"summary":"List billing groups","description":"This call lists all your billing groups, including groups that are pending or have been disabled.","operationId":"list-your-billing-groups","parameters":[{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"limit","in":"query","description":"The maximum number of collection items to return for a single request. Minimum value is 1. The maximum value is 100 and the default value is 25. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"The zero-based starting index in the entire collection of the first item to return. The default value is 0. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":0}},{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"href\": \"https://api.sbgenomics.com/v2/billing/groups?offset=0&limit=25\",\n  \"items\": [\n    {\n      \"id\": \"ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7\",\n      \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7\",\n      \"name\": \"RFranklin Billing Group\"\n    }\n  ],\n  \"links\": []\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/groups?offset=0&limit=25"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7"},"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7"},"name":{"type":"string","example":"RFranklin Billing Group"}}}},"links":{"type":"array"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nbilling_groups = api.billing_groups.query()\n\nfor billing_group in billing_groups:\n    print(billing_group.name)"}],"samples-languages":["python"]}}},"/billing/groups/{billing_group}/breakdown/analysis":{"get":{"summary":"Get analysis breakdown for a billing group","description":"This call returns an analysis breakdown for a billing group which contains information on both the tasks and Cruncher analysis. \n\nTo find the `billing_group`, use the call [list billing groups](ref:list-your-billing-groups) to list all your billing groups.","operationId":"get-analysis-breakdown-for-a-billing-group","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"billing_group","in":"path","description":"The ID of the billing group.","schema":{"type":"string"},"required":true},{"name":"limit","in":"query","description":"The maximum number of collection items to return for a single request.  The default value is 50, while the maximum value is 100.  This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"The zero-based starting index in the entire collection of the first item to return.  The default value is 0. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":0}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"date_from","in":"query","description":"Specify the starting date for retrieving transactions analysis in the following format: mm-dd-yyyy.","schema":{"type":"string"}},{"name":"date_to","in":"query","description":"Specify the ending date for retrieving transactions analysis in the following format: mm-dd-yyyy.","schema":{"type":"string"}},{"name":"invoice_id","in":"query","description":"Specify Invoice ID to show a breakdown for the specific invoice.  If omitted, the current spending breakdown is returned.  To find the particular 'invoice_id' use the [List invoices](doc:list-invoices) call.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/analysis?offset=0&amp;limit=2&amp;date_from=11-04-2020\",\n    \"items\": [\n        {\n            \"analysis_type\": \"TASK\",\n            \"analysis_id\": \"48f79ccf-12b3-45b6-789c-b1e8d88dabcd\",\n            \"project_locked\": false,\n            \"project_name\": \"my project\",\n            \"analysis_app_name\": \"Alignment Metrics QC\",\n            \"analysis_name\": \"Alignment Metrics QC run - 01-18-21 16:08:24\",\n            \"ran_by\": \"div/rfranklin\",\n            \"analysis_status\": \"COMPLETED\",\n            \"analysis_cost\": {\n                \"currency\": \"USD\",\n                \"amount\": \"0.024162\",\n                \"breakdown\": {\n                    \"storage\": \"0.002312\",\n                    \"computation\": \"0.021850\",\n                    \"data_transfer_in\": \"0.000000\"\n                }\n            },\n            \"refunded_amount\": \"0.000000\",\n            \"time_started\": \"2021-01-18T16:08:26Z\",\n            \"time_finished\": \"2021-01-18T16:12:08Z\"\n        },\n        {\n            \"analysis_type\": \"CRUNCHER_ANALYSIS\",\n            \"analysis_id\": \"1fd125fa-789c-45b6-12b3-2a3ab3bedcba\",\n            \"project_locked\": false,\n            \"project_name\": \"my project\",\n            \"analysis_app_name\": \"\",\n            \"analysis_name\": \"an-1\",\n            \"ran_by\": \"div/rfranklin\",\n            \"analysis_status\": \"STOPPED\",\n            \"analysis_cost\": {\n                \"currency\": \"USD\",\n                \"amount\": \"0.256994\",\n                \"breakdown\": {\n                    \"storage\": \"0.074055\",\n                    \"computation\": \"0.182939\",\n                    \"data_transfer_in\": \"0.000000\"\n                }\n            },\n            \"refunded_amount\": \"0.000000\",\n            \"time_started\": \"2021-01-18T16:00:27Z\",\n            \"time_finished\": \"2021-01-18T16:32:52Z\"\n        },\n \n    \"links\": [\n        {\n            \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/analysis?offset=2&amp;limit=2&amp;date_from=11-04-2020\",\n            \"rel\": \"next\",\n            \"method\": \"GET\"\n        }\n    ]\n}"},"OK - Locked project":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/analysis?offset=0&amp;limit=1\",\n    \"items\": [\n        {\n            \"analysis_type\": \"TASK\",\n            \"analysis_id\": \"470ceb64-6f37-4e0d-18ad-9c31d5292177\",\n            \"project_locked\": true,\n            \"analysis_cost\": {\n                \"currency\": \"USD\",\n                \"amount\": \"0.016491\",\n                \"breakdown\": {\n                    \"storage\": \"0.007302\",\n                    \"computation\": \"0.009189\",\n                    \"data_transfer_in\": \"0.000000\"\n                }\n            },\n            \"refunded_amount\": \"0.000000\"\n        }\n    ],\n    \"links\": [\n        {\n            \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/analysis?offset=1&amp;limit=1\",\n            \"rel\": \"next\",\n            \"method\": \"GET\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/analysis?offset=0&amp;limit=1"},"items":{"type":"array","items":{"type":"object","properties":{"analysis_type":{"type":"string","example":"TASK"},"analysis_id":{"type":"string","example":"470ceb64-6f37-4e0d-18ad-9c31d5292177"},"project_locked":{"type":"boolean","example":true,"default":true},"analysis_cost":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"amount":{"type":"string","example":"0.016491"},"breakdown":{"type":"object","properties":{"storage":{"type":"string","example":"0.007302"},"computation":{"type":"string","example":"0.009189"},"data_transfer_in":{"type":"string","example":"0.000000"}}}}},"refunded_amount":{"type":"string","example":"0.000000"}}}},"links":{"type":"array","items":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/analysis?offset=1&amp;limit=1"},"rel":{"type":"string","example":"next"},"method":{"type":"string","example":"GET"}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nbilling_group = api.billing_groups.get(\n    id='ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7'\n)\n\n# send GET request to SB API\nbreakdown = billing_group.breakdown()\n\nprint(breakdown.total_spending.currency, breakdown.total_spending.amount)\nfor project_breakdown in breakdown.project_breakdown:\n    print(project_breakdown.analysis_spending.currency,\n          project_breakdown.analysis_spending.amount)\n    print(len(project_breakdown.task_breakdown))"}],"samples-languages":["python"]}}},"/billing/groups/{billing_group}/breakdown/storage":{"get":{"summary":"Get storage breakdown for a billing group","description":"This call returns a storage breakdown for a billing group.\n\nTo find the `billing_group`, use the call [list billing groups](ref:list-your-billing-groups) to list all your billing groups.","operationId":"get-storage-breakdown-for-a-billing-group","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"billing_group","in":"path","description":"The ID of the billing group.","schema":{"type":"string"},"required":true},{"name":"limit","in":"query","description":"The maximum number of collection items to return for a single request.  The default value is 50, while the maximum value is 100.  This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"The zero-based starting index in the entire collection of the first item to return.  The default value is 0. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":0}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"date_from","in":"query","description":"Specify the starting date for retrieving storage analysis in the following format: mm-dd-yyyy.","schema":{"type":"string"}},{"name":"date_to","in":"query","description":"Specify the ending date for retrieving storage analysis in the following format: mm-dd-yyyy.","schema":{"type":"string"}},{"name":"invoice_id","in":"query","description":"Specify Invoice ID to show a breakdown for the specific invoice.  If omitted, the current spending breakdown is returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b46-789c-e3f3fca0c6f7/breakdown/storage?offset=0&limit=2\",\n   \"items\": [\n     {\n        \"project_name\": \"my project\",\n        \"project_locked\": false,\n        \"project_created_by\":\"voluptatem-pariatu/rfranklin\",\n        \"active\": {\n            \"size\": \"0.032300\",\n            \"unit\": \"GB/Month\",\n            \"cost\" {\n                \"amount\": \"0.0023\",\n                \"currency\": \"USD\"\n            }\n        },\n        \"archived\": {\n            \"size\": \"0.000000\",\n            \"unit\": \"GB/Month\",\n            \"cost\" {\n                \"amount\": \"0.0023\",\n                \"currency\": \"USD\"\n            }\n        },\n        \"location\": \"aws:us-east-1\"\n      },\n      {\n         \"project_name\": \"my project\",\n         \"project_locked\": false\n         \"project_created_by\": \"div/rfranklin\",\n         \"active\": {\n             \"size\": \"0.032300\",\n             \"unit\": \"GB/Month\",\n             \"cost\" {\n                \"amount\": \"0.0023\",\n                \"currency\": \"USD\"\n            }\n          },\n         \"archived\": {\n             \"size\": \"0.000000\"\n              \"unit\": \"GB/Month\",\n              \"cost\" {\n                \"amount\": \"0.0023\",\n                \"currency\": \"USD\",\n            }\n         },\n        \"location\": \"aws:us-east-1\"\n     }\n   ],\n \"links\": [\n     {\n         \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec2dc1e3-13a3-4b66-789c-e3f3dca0c6f7/breakdown/storage?offset=2&limit=2\",\n         \"rel\": \"next\",\n         \"method\": \"GET\"\n     }\n   ]\n}"},"OK - Locked project":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/storage?offset=0&amp;limit=5\",\n    \"items\": [\n        {\n            \"active\": {\n                \"size\": \"0.032300\",\n                \"unit\": \"GB/Month\"\n            },\n          \n           {\n             \"cost\" {\n                \"amount\": \"0.0023\",\n                \"currency\": \"USD\"\n            },\n            \"archived\": {\n                \"size\": \"0.000000\",\n                \"unit\": \"GB/Month\"\n            },\n            \"project_locked\": true\n        }\n    ],\n    \"links\": []\n}"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nbilling_group = api.billing_groups.get(\n    id='ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7'\n)\n\n# send GET request to SB API\nbreakdown = billing_group.breakdown()\n\nprint(breakdown.total_spending.currency, breakdown.total_spending.amount)\nfor project_breakdown in breakdown.project_breakdown:\n    print(project_breakdown.analysis_spending.currency,\n          project_breakdown.analysis_spending.amount)\n    print(len(project_breakdown.task_breakdown))"}],"samples-languages":["python"]}}},"/projects/{project_owner}/{project}":{"get":{"summary":"Get details of a project","description":"This call returns the details of a specified project.","operationId":"get-project-details","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The [short name](#section-project-short-names) of the project you are querying.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\":\"http://api.sbgenomics.com/v2/projects/rfranklin/my-project\",\n    \"id\":\"rfranklin/my-project\",\n    \"name\":\"My Project\",\n    \"type\":\"v2\",\n    \"description\":\"This project contains data, completed analyses, and results.\\n\\\\Contains WGS, WES, and two different RNA-Seq read alignments - STAR and TopHat, fusion transcript detection analysis using ChimeraScan, FASTQ quality control and more.\\n\\n Open it up and  take a look.\",\n    \"tags\":[\n        \"tag1\",\n        \"tag2\"\n    ],\n    \"settings\":{\n        \"locked\":false,\n        \"use_interruptible_instances\":false,\n        \"use_memoization\":true,\n        \"intermediate_files\":{\n            \"retention\":\"LIMITED\",\n            \"duration\":24\n        }\n    },\n    \"permissions\":{\n        \"write\":true,\n        \"read\":true,\n        \"copy\":true,\n        \"execute\":true,\n        \"admin\":true\n    },\n    \"root_folder\":\"567890abc9b0307bc0414164\",\n    \"billing_group\":\"ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7\",\n    \"created_by\":\"rfranklin\",\n    \"category\":\"PRIVATE\",\n    \"created_on\":\"2017-07-04T12:40:00Z\",\n    \"modified_on\":\"2019-05-20T12:49:34Z\"\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"http://api.sbgenomics.com/v2/projects/rfranklin/my-project"},"id":{"type":"string","example":"rfranklin/my-project"},"name":{"type":"string","example":"My Project"},"type":{"type":"string","example":"v2"},"description":{"type":"string","example":"This project contains data, completed analyses, and results.\n\\Contains WGS, WES, and two different RNA-Seq read alignments - STAR and TopHat, fusion transcript detection analysis using ChimeraScan, FASTQ quality control and more.\n\n Open it up and  take a look."},"tags":{"type":"array","items":{"type":"string","example":"tag1"}},"settings":{"type":"object","properties":{"locked":{"type":"boolean","example":false,"default":true},"use_interruptible_instances":{"type":"boolean","example":false,"default":true},"use_memoization":{"type":"boolean","example":true,"default":true},"intermediate_files":{"type":"object","properties":{"retention":{"type":"string","example":"LIMITED"},"duration":{"type":"integer","example":24,"default":0}}}}},"permissions":{"type":"object","properties":{"write":{"type":"boolean","example":true,"default":true},"read":{"type":"boolean","example":true,"default":true},"copy":{"type":"boolean","example":true,"default":true},"execute":{"type":"boolean","example":true,"default":true},"admin":{"type":"boolean","example":true,"default":true}}},"root_folder":{"type":"string","example":"567890abc9b0307bc0414164"},"billing_group":{"type":"string","example":"ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7"},"created_by":{"type":"string","example":"rfranklin"},"category":{"type":"string","example":"PRIVATE"},"created_on":{"type":"string","example":"2017-07-04T12:40:00Z"},"modified_on":{"type":"string","example":"2019-05-20T12:49:34Z"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nproject = api.projects.get('rfranklin/my-project')\n\nprint(project.name)"}],"samples-languages":["python"]}},"delete":{"summary":"Delete a project","description":"This call deletes a project from the Seven Bridges Platform. It can only be successfully made if you have admin status for the project.","operationId":"delete-a-project","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The [short name](#section-project-short-names) of the project you are about to delete.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nproject = api.projects.get(id='RFranklin/my-project')\n\n# send DELETE request to SB API\nproject.delete()"}],"samples-languages":["python"]}},"patch":{"summary":"Edit a project","description":"This call edits a project on the Seven Bridges Platform.  As a project Admin you can use it to change the name, settings, tags or billing group of the project.\n\nUsers with `write` permissions in the project can change the project description.","operationId":"edit-a-project","parameters":[{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The [short name](#section-project-short-names) of the project you are editing.","schema":{"type":"string"},"required":true},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the project you are creating."},"description":{"type":"string","description":"Description of the project."},"billing_group":{"type":"string","description":"The ID of the billing group for the project.  [List all billing groups](ref:list-your-billing-groups) to find your billing group ID"},"settings":{"type":"object","description":"Contains detailed project settings. Expand for more details.","properties":{"locked":{"type":"boolean","description":"Set this field to `true` to lock down a project. Locking down a project prevents any Seven Bridges team member from viewing any information about the task."},"use_interruptible_instances":{"type":"boolean","description":"Defines the use of [spot instances](doc:about-spot-instances). If not included in the request, spot instances are enabled by default.","default":true},"use_memoization":{"type":"boolean","description":"Set to `false` by default. Set to `true` to enable [memoization](doc:about-memoization).","default":false},"use_elastic_disk":{"type":"boolean","description":"Set to `true` to enable [Elastic disk](page:elastic-disk)."},"intermediate_files":{"type":"object","properties":{"retention":{"type":"string","description":"Specifies that intermediate files should be retained for a limited amount of time. The value is always `LIMITED`.","default":"LIMITED"},"duration":{"type":"integer","description":"Specifies [intermediate files](doc:about-memoization#section-intermediate-files) retention period in hours. The minimum value is 1. The maximum value is 120 and the default value is 24.","default":24,"format":"int32"}}}}},"tags":{"type":"array","description":"The list of project tags.","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"name\": \"my project\",\n    \"description\": \"Updated with the results of the latest experiments\",\n    \"settings\": {\n        \"locked\": true,\n        \"use_interruptible_instances\": false,\n        \"use_memoization\": true,\n        \"intermediate_files\": {\n          \"retention\":\"LIMITED\",\n          \"duration\":24\n        }\n    },\n    \"tags\": [\"tag1\", \"tag2\"]\n}"}},"schema":{"type":"object","properties":{"name":{"type":"string","example":"my project"},"description":{"type":"string","example":"Updated with the results of the latest experiments"},"settings":{"type":"object","properties":{"locked":{"type":"boolean","example":true,"default":true},"use_interruptible_instances":{"type":"boolean","example":false,"default":true},"use_memoization":{"type":"boolean","example":true,"default":true},"intermediate_files":{"type":"object","properties":{"retention":{"type":"string","example":"LIMITED"},"duration":{"type":"integer","example":24,"default":0}}}}},"tags":{"type":"array","items":{"type":"string","example":"tag1"}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nproject = api.projects.get('rfranklin/my-project')\n\n# change the attributes\nproject.name = 'my project'\nproject.description = 'Updated with the results of the latest experiments'\nproject.settings.locked = True\nproject.settings.use_interruptible_instances = False\nproject.settings.use_memoization = True\nproject.settings.intermediate_files = {\n    'retention': 'LIMITED',\n    'duration': 24\n}\nproject.tags = ['tag1', 'tag2']\n\n# send PATCH request to SB API\nproject.save()\n\nprint(project.description)"}],"samples-languages":["python"]}}},"/projects":{"get":{"summary":"List all your projects","description":"","operationId":"list-all-your-projects","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Filter projects by the project name. The search is partial and case-insensitive.","schema":{"type":"string"}},{"name":"offset","in":"query","description":"The zero-based starting index in the entire collection of the first item to return. The default value is 0. This is a pagination-specific attribute.","schema":{"type":"string","default":"0"}},{"name":"limit","in":"query","description":"The maximum number of collection items to return for a single request. Minimum value is 1. The maximum value is 100 and the default value is 50. This is a pagination-specific attribute.","schema":{"type":"string","default":"50"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"tags","in":"query","description":"Filter project by project tags. Specify a comma-separated list of tags to return projects that have all of the specified tags.","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"href\":\"https://api.sbgenomics.com/v2/projects?offset=0&limit=50\",\n  \"items\":[\n    {\n      \"href\":\"https://api.sbgenomics.com/v2/projects/RFranklin/test\",\n      \"id\":\"RFranklin/test\",\n      \"name\":\"test\",\n      \"created_by\":\"rfranklin\",\n      \"category\":\"PRIVATE\",\n      \"created_on\":\"2019-04-24T11:51:20Z\",\n      \"modified_on\":\"2019-04-24T11:51:20Z\"\n    },\n    {\n      \"href\":\"https://api.sbgenomics.com/v2/projects/RFranklin/sandbox\",\n      \"id\":\"RFranklin/sandbox\",\n      \"name\":\"sandbox\",\n      \"created_by\":\"rfranklin\",\n      \"category\":\"PRIVATE\",\n      \"created_on\":\"2019-04-24T11:51:20Z\",\n      \"modified_on\":\"2019-04-24T11:51:20Z\"\n    },\n    {\n      \"href\":\"https://api.sbgenomics.com/v2/projects/RFranklin/my-project\",\n      \"id\":\"RFranklin/my-project\",\n      \"name\":\"my project\",\n      \"created_by\":\"rfranklin\",\n      \"category\":\"PRIVATE\",\n      \"created_on\":\"2019-04-24T11:51:20Z\",\n      \"modified_on\":\"2019-04-24T11:51:20Z\"\n    }\n  ],\n  \"links\":[\n    \n  ]\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects?offset=0&limit=50"},"items":{"type":"array","items":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects/RFranklin/test"},"id":{"type":"string","example":"RFranklin/test"},"name":{"type":"string","example":"test"},"created_by":{"type":"string","example":"rfranklin"},"category":{"type":"string","example":"PRIVATE"},"created_on":{"type":"string","example":"2019-04-24T11:51:20Z"},"modified_on":{"type":"string","example":"2019-04-24T11:51:20Z"}}}},"links":{"type":"array"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nall_projects = api.projects.query()\n\nfor project in all_projects:\n    print(project.name)"}],"samples-languages":["python"]}},"post":{"summary":"Create a new project","description":"List the projects owned by and accessible to a particular user. Each project's ID and URL will be returned. Please keep in mind that you will only be able to list projects you are a member of.","operationId":"create-a-new-project","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"Content-Type","in":"header","required":true,"schema":{"type":"string","default":"application/json"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"The name of the project you are creating."},"description":{"type":"string","description":"Description of the project."},"billing_group":{"type":"string","description":"The ID of the billing group for the project. [List all billing groups](ref:list-your-billing-groups) to find your billing group ID. If not specified, the first billing group from the list of billing groups available to you available to you will be used."},"settings":{"type":"object","description":"Contains detailed project settings. Expand for more details.","properties":{"locked":{"type":"boolean","description":"Set this field to `true` to lock down a project.  Locking down a *project* prevents any Seven Bridges team member from viewing any information about the task."},"controlled":{"type":"boolean","description":"Set this field to `true` to define this project as controlled i.e. one which will contain controlled data.  Set `false` to define the project as open i.e. one which will contain open data."},"location":{"type":"string","description":"Specify the location for this project: `aws:us-east-1` or `aws:us-west-2`"},"use_interruptible_instances":{"type":"boolean","description":"Defines the use of [spot instances](doc:about-spot-instances). If not included in the request, spot instances are enabled by default.","default":true},"use_memoization":{"type":"string","description":"Set to `false` by default. Set to `true` to enable [memoization](doc:about-memoization).","default":"false"},"use_elastic_disk":{"type":"string","description":"Set to `true` to enable [Elastic disk](page:elastic-disk)."},"intermediate_files":{"type":"object","description":"Defines the retention period for intermediate files.","properties":{"retention":{"type":"string","description":"Specifies that intermediate files should be retained for a limited amount of time. The value is always `LIMITED`.","default":"LIMITED"},"duration":{"type":"integer","description":"Specifies [intermediate files](doc:about-memoization#section-intermediate-files) retention period in hours. The minimum value is 1. The maximum value is 120 and the default value is 24.","default":24,"format":"int32"}}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/projects/rfranklin/my-new-project\",\n    \"id\": \"rfranklin/my-new-project\",\n    \"name\": \"My new project\",\n    \"type\": \"v2\",\n    \"description\": \"This is my new project\",\n    \"tags\": [],\n    \"category\": \"PRIVATE\",\n    \"settings\": {\n        \"locked\": false,\n        \"controlled\": true,\n        \"location\": \"aws:us-west-2\",\n        \"use_interruptible_instances\": false,\n        \"use_memoization\": true,\n        \"intermediate_files\": {\n            \"duration\": 24,\n            \"retention\": \"LIMITED\"\n        }\n    },\n    \"root_folder\": \"567890abc9b0307bc0414164\",\n    \"billing_group\": \"ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7\"\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects/rfranklin/my-new-project"},"id":{"type":"string","example":"rfranklin/my-new-project"},"name":{"type":"string","example":"My new project"},"type":{"type":"string","example":"v2"},"description":{"type":"string","example":"This is my new project"},"tags":{"type":"array"},"category":{"type":"string","example":"PRIVATE"},"settings":{"type":"object","properties":{"locked":{"type":"boolean","example":false,"default":true},"controlled":{"type":"boolean","example":true,"default":true},"location":{"type":"string","example":"aws:us-west-2"},"use_interruptible_instances":{"type":"boolean","example":false,"default":true},"use_memoization":{"type":"boolean","example":true,"default":true},"intermediate_files":{"type":"object","properties":{"duration":{"type":"integer","example":24,"default":0},"retention":{"type":"string","example":"LIMITED"}}}}},"root_folder":{"type":"string","example":"567890abc9b0307bc0414164"},"billing_group":{"type":"string","example":"ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send POST request to SB API\nnew_project = api.projects.create(\n    name='My new project',\n    description='This is my new project',\n    billing_group='ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7',\n    settings={\n        'locked': False,\n        'controlled': False,\n        'location': 'aws:us-west-2',\n        'use_interruptible_instances': False,\n        'use_memoization': True,\n        'intermediate_files': {\n            'retention': 'LIMITED',\n            'duration': 24\n        }\n    }\n)\n\nprint(new_project.name)"}],"samples-languages":["python"]}}},"/projects/{project_owner}/{project}/members":{"get":{"summary":"List members of a project","description":"This call returns a list of the members of the specified project. For each member, the response lists:\n\n  * The member's username on the Seven Bridges Platform\n  * The member's permissions in the project specified","operationId":"list-members-of-a-project","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The short name of the project you are querying.","schema":{"type":"string"},"required":true},{"name":"offset","in":"query","description":"The zero-based starting index in the entire collection of the first item to return. The default value is 0. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"The maximum number of collection items to return for a single request. Minimum value is 1. The maximum value is 100 and the default value is 50. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/projects/rfranklin/my-project/members?offset=0&limit=50\",\n    \"items\": [\n        {\n            \"href\": \"https://api.sbgenomics.com/v2/projects/rfranklin/my-project/members/jdoe\",\n            \"id\": \"jdoe\",\n            \"username\": \"jdoe\",\n            \"email\": \"johndoe@email.com\",\n            \"type\": \"USER\",\n            \"permissions\": {\n                \"write\": true,\n                \"read\": true,\n                \"copy\": true,\n                \"execute\": true,\n                \"admin\": true\n            }\n        },\n        {\n            \"href\": \"https://api.sbgenomics.com/v2/projects/rfranklin/my-project/members/john.smith\",\n            \"id\": \"john.smith\",\n            \"username\": \"john.smith\",\n            \"email\": \"john.smith@email.com\",\n            \"type\": \"USER\",\n            \"permissions\": {\n                \"write\": true,\n                \"read\": true,\n                \"copy\": true,\n                \"execute\": true,\n                \"admin\": false\n            }\n        },\n        {\n            \"href\": \"https://api.sbgenomics.com/v2/projects/rfranklin/my-project/members/francis.crick\",\n            \"id\": \"fcrick\",\n            \"username\": \"fcrick\",\n            \"email\": \"fcrick@email.com\",\n            \"type\": \"USER\",\n            \"permissions\": {\n                \"write\": true,\n                \"read\": true,\n                \"copy\": true,\n                \"execute\": true,\n                \"admin\": false\n            }\n        }\n    ],\n    \"links\": []\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects/rfranklin/my-project/members?offset=0&limit=50"},"items":{"type":"array","items":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects/rfranklin/my-project/members/jdoe"},"id":{"type":"string","example":"jdoe"},"username":{"type":"string","example":"jdoe"},"email":{"type":"string","example":"johndoe@email.com"},"type":{"type":"string","example":"USER"},"permissions":{"type":"object","properties":{"write":{"type":"boolean","example":true,"default":true},"read":{"type":"boolean","example":true,"default":true},"copy":{"type":"boolean","example":true,"default":true},"execute":{"type":"boolean","example":true,"default":true},"admin":{"type":"boolean","example":true,"default":true}}}}}},"links":{"type":"array"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='1e43fEXampLEa5523dfd14exAMPle3e5')\n\nproject = api.projects.get(id='rfranklin/my-project')\n\n# send GET request to SB API\nmembers = project.get_members()\n\nfor member in members:\n    print(member.username, member.permissions)"}],"samples-languages":["python"]}},"post":{"summary":"Add a member to a project","description":"This call adds a new user to a specified project. It can only be successfully made by a user who has admin permissions in the project.\n\nUsers may have the following permissions on the Platform:\n  * Read\n  * Write\n  * Copy\n  * Execute\n  * Admin\n\nFor more information, see the documentation on [setting project member permissions](ref:modify-a-project-members-permissions). Note that some user permissions imply others: for example, if you give a user admin permission, then they automatically receive read, write, copy and execute permissions.","operationId":"add-a-member-to-a-project","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The short name of the project you are adding someone to.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["permissions"],"properties":{"username":{"type":"string","description":"The Seven Bridges Platform username of the person you want to add to the project. You should use either `username` (recommended) or `email`."},"email":{"type":"string","description":"The email address of the person you want to add to the project.  This has to be the email address that the person used when registering for an account on the Seven Bridges Platform. You should use either `username` (recommended) or `email`."},"permissions":{"type":"object","description":"Array of key-value pairs. The keys are strings, and the values are Booleans. All members of a project have `read` permissions by default. Even if you try setting the `read` permission to `false`, it will still default to `true`.","properties":{"write":{"type":"boolean","description":"Whether the user should have the write permission."},"read":{"type":"boolean","description":"Whether the user should have the read permission."},"copy":{"type":"boolean","description":"Whether the user should have the copy permission."},"execute":{"type":"boolean","description":"Whether the user should have the execute permission."},"admin":{"type":"boolean","description":"Whether the user should have the admin permission."}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\":\"https://api.sbgenomics.com/v2/projects/rfranklin/my-project/members/Jane_Doe\",\n    \"username\":\"Jane_Doe\",\n    \"email\":\"jane_doe@address.com\",\n    \"permissions\":{\n        \"write\":true,\n        \"read\":true,\n        \"copy\":false,\n        \"execute\":true,\n        \"admin\":false\n    }\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects/rfranklin/my-project/members/Jane_Doe"},"username":{"type":"string","example":"Jane_Doe"},"email":{"type":"string","example":"jane_doe@address.com"},"permissions":{"type":"object","properties":{"write":{"type":"boolean","example":true,"default":true},"read":{"type":"boolean","example":true,"default":true},"copy":{"type":"boolean","example":false,"default":true},"execute":{"type":"boolean","example":true,"default":true},"admin":{"type":"boolean","example":false,"default":true}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nproject = api.projects.get(id='rfranklin/my-project')\n\n# send POST request to SB API\nnew_member = project.add_member(\n    user='Jane_Doe',\n    permissions={\n        'read': True,\n        'write': True,\n        'execute': False\n    }\n)\n\nprint(new_member.username)"}],"samples-languages":["python"]}}},"/projects/{owner}":{"get":{"summary":"List projects owned by a particular user","description":"List the projects owned by and accessible to a particular user. Each project's ID and URL will be returned. Please keep in mind that you will only be able to list projects you are a member of.","operationId":"list-projects-owned-by-a-particular-user","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Filter projects by the project name. The search is partial and case-insensitive.","schema":{"type":"string"}},{"name":"offset","in":"query","description":"The zero-based starting index in the entire collection of the first item to return. The default value is 0. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"The maximum number of collection items to return for a single request. Minimum value is 1. The maximum value is 100 and the default value is 50. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":50}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"tags","in":"query","description":"Filter project by project tags. Specify a comma-separated list of tags to return projects that have all of the specified tags.","schema":{"type":"array","items":{"type":"string"}}},{"name":"owner","in":"path","description":"The username of the owner whose projects you want to query.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"href\": \"https://api.sbgenomics.com/v2/projects/rfranklin\",\n  \"items\": [\n    {\n      \"href\": \"https://api.sbgenomics.com/v2/projects/rfranklin/Quickstart\",\n      \"id\": \"rfranklin/Quickstart\",\n      \"name\": \"Quickstart\",\n      \"created_by\": \"rfranklin\",\n      \"category\": \"PRIVATE\",\n      \"created_on\": \"2017-07-18T11:19:48Z\",\n      \"modified_on\": \"2017-07-18T11:19:48Z\"\n    },\n    {\n      \"href\": \"https://api.sbgenomics.com/v2/projects/RFranklin/my-project\",\n      \"id\": \"rfranklin/my-project\",\n      \"name\": \"My project\",\n      \"description\": \"testing testing.\\n* one\\n* two\\n* three\",\n      \"created_by\": \"rfranklin\",\n      \"category\": \"PRIVATE\",\n      \"created_on\": \"2017-07-18T11:19:48Z\",\n      \"modified_on\": \"2017-07-18T11:19:48Z\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects/rfranklin"},"items":{"type":"array","items":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects/rfranklin/Quickstart"},"id":{"type":"string","example":"rfranklin/Quickstart"},"name":{"type":"string","example":"Quickstart"},"created_by":{"type":"string","example":"rfranklin"},"category":{"type":"string","example":"PRIVATE"},"created_on":{"type":"string","example":"2017-07-18T11:19:48Z"},"modified_on":{"type":"string","example":"2017-07-18T11:19:48Z"}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nmy_projects = api.projects.query(owner='rfranklin')\n\nfor project in my_projects:\n    print(project.name)"}],"samples-languages":["python"]}}},"/billing/groups/{billing_group}/breakdown/egress":{"get":{"summary":"Get egress breakdown for a billing group","description":"This call returns an egress breakdown for a billing group.\n\nTo find the `billing_group`, use the call [list billing groups](ref:list-your-billing-groups) to list all your billing groups.","operationId":"get-egress-breakdown-for-a-billing-group","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"billing_group","in":"path","description":"The ID of the billing group.","schema":{"type":"string"},"required":true},{"name":"limit","in":"query","description":"The maximum number of collection items to return for a single request.  The default value is 50, while the maximum value is 100.  This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"The zero-based starting index in the entire collection of the first item to return.  The default value is 0. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":0}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"date_from","in":"query","description":"Specify the starting date for retrieving egress analysis in the following format: mm-dd-yyyy.","schema":{"type":"string"}},{"name":"date_to","in":"query","description":"Specify the ending date for retrieving egress analysis in the following format: mm-dd-yyyy.","schema":{"type":"string"}},{"name":"invoice_id","in":"query","description":"Specify Invoice ID to show a breakdown for the specific invoice.  If omitted, the current spending breakdown is returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"href\":\" https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/egress?offset=0&limit=1\",\n  \"items\": [\n    {\n      \"project_name\": \"my project\",\n      \"project_locked\": false,\n      \"downloaded_by\":\"rfranklin\",\n      \"downloaded\": {\n          \"size\": \"0.005730\",\n          \"unit\": \"GB\"\n      }\n      \"egress_cost\": {\n          \"currency\": \"USD\",\n          \"amount\": \"0.000516\"\n      }\n    }\n  ],\n  \"links\": [\n     {\n       \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/egress?offset=1&amp;limit=1\",\n       \"rel\": \"next\",\n       \"method\": \"GET\"\n     }\n  ]\n}"},"OK - Locked project":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/egress?offset=0&amp;limit=1\",\n    \"items\": [\n        {\n            \"project_locked\": true,\n            \"downloaded\": {\n                \"size\": \"0.005730\",\n                \"unit\": \"GB\"\n            },\n            \"egress_cost\": {\n                \"currency\": \"USD\",\n                \"amount\": \"0.000516\"\n            }\n        }\n    ],\n    \"links\": [\n     {\n       \"href\": \"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/egress?offset=1&limit=1\",\n       \"rel\": \"next\",\n       \"method\": \"GET\"\n     }\n  ]\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/egress?offset=0&amp;limit=1"},"items":{"type":"array","items":{"type":"object","properties":{"project_locked":{"type":"boolean","example":true,"default":true},"downloaded":{"type":"object","properties":{"size":{"type":"string","example":"0.005730"},"unit":{"type":"string","example":"GB"}}},"egress_cost":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"amount":{"type":"string","example":"0.000516"}}}}}},"links":{"type":"array","items":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/groups/ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7/breakdown/egress?offset=1&limit=1"},"rel":{"type":"string","example":"next"},"method":{"type":"string","example":"GET"}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nbilling_group = api.billing_groups.get(\n    id='ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7'\n)\n\n# send GET request to SB API\nbreakdown = billing_group.breakdown()\n\nprint(breakdown.total_spending.currency, breakdown.total_spending.amount)\nfor project_breakdown in breakdown.project_breakdown:\n    print(project_breakdown.analysis_spending.currency,\n          project_breakdown.analysis_spending.amount)\n    print(len(project_breakdown.task_breakdown))"}],"samples-languages":["python"]}}},"/billing/invoices":{"get":{"summary":"List invoices","description":"The call returns information about all your available invoices, unless you use the `billing_group` query parameter to specify the ID of a particular billing group, in which case it will return the invoice incurred by that billing group only.","operationId":"list-invoices","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"billing_group","in":"query","description":"ID of the billing group for which you want to list invoices.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/billing/invoices/\",\n    \"items\": [\n        {\n            \"href\": \"https://api.sbgenomics.com/v2/billing/invoices/7123479019\",\n            \"invoice_id\": \"7123479019\",\n            \"pending\": false,\n            \"invoice_period\": {\n                \"from\": \"2015-03-26T13:55:26Z\",\n                \"to\": \"2015-03-27T00:00:00Z\"\n            }\n        },\n        {\n            \"href\": \"https://api.sbgenomics.com/v2/billing/invoices/7123418961\",\n            \"invoice_id\": \"7123418961\",\n            \"pending\": false,\n            \"invoice_period\": {\n                \"from\": \"2015-03-27T00:00:00Z\",\n                \"to\": \"2015-03-30T00:00:00Z\"\n            }\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/invoices/"},"items":{"type":"array","items":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/invoices/7123479019"},"invoice_id":{"type":"string","example":"7123479019"},"pending":{"type":"boolean","example":false,"default":true},"invoice_period":{"type":"object","properties":{"from":{"type":"string","example":"2015-03-26T13:55:26Z"},"to":{"type":"string","example":"2015-03-27T00:00:00Z"}}}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='ec1dc1e3-12a3-4b56-789c-e3f2dca0c6f7')\n\n# send GET request to SB API\ninvoices = api.invoices.query()\n\nfor invoice in invoices:\n    print(invoice.id, invoice.invoice_period.from_, invoice.invoice_period.to)"}],"samples-languages":["python"]}}},"/billing/invoices/{invoice_id}":{"get":{"summary":"Get a specific invoice","description":"This call retrieves information about a selected invoice, including the costs for analysis and storage, and the invoice period.\n\nUse the call [to list invoices](ref:list-invoices) to retrieve the `invoice_id`s for a specified billing group.","operationId":"get-a-specific-invoice","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"invoice_id","in":"path","description":"The ID of the invoice you are querying.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/billing/invoices/7123418961\",\n    \"invoice_id\": \"7123418961\",\n    \"pending\": false,\n    \"approval_date\": \"2015-03-26T00:00:00Z\",\n    \"invoice_period\": {\n        \"from\": \"2015-03-26T13:55:26Z\",\n        \"to\": \"2015-03-27T00:00:00Z\"\n    },\n    \"analysis_costs\": {\n        \"currency\": \"USD\",\n        \"amount\": \"1.64\"\n    },\n    \"storage_costs\": {\n        \"currency\": \"USD\",\n        \"amount\": \"0.00\"\n    },\n    \"total\": {\n        \"currency\": \"USD\",\n        \"amount\": \"1.64\"\n    }\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/billing/invoices/7123418961"},"invoice_id":{"type":"string","example":"7123418961"},"pending":{"type":"boolean","example":false,"default":true},"approval_date":{"type":"string","example":"2015-03-26T00:00:00Z"},"invoice_period":{"type":"object","properties":{"from":{"type":"string","example":"2015-03-26T13:55:26Z"},"to":{"type":"string","example":"2015-03-27T00:00:00Z"}}},"analysis_costs":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"amount":{"type":"string","example":"1.64"}}},"storage_costs":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"amount":{"type":"string","example":"0.00"}}},"total":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"amount":{"type":"string","example":"1.64"}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\ninvoice = api.invoices.get(id='7123418961')\n\nprint(invoice.invoice_period.from_, invoice.invoice_period.to)\nprint(invoice.total.currency, invoice.total.amount)"}],"samples-languages":["python"]}}},"/projects/{project_owner}/{project}/members/{username}":{"delete":{"summary":"Remove a project member","description":"This call removes a project member from a project. It can only be successfully run by a user who has admin privileges in the project.\n\nFor more information on permissions on the Seven Bridges Platform, see the documentation on [setting permissions](ref:modify-a-project-members-permissions).","operationId":"remove-a-project-member","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The short name of the project to access.","schema":{"type":"string"},"required":true},{"name":"username","in":"path","description":"The Seven Bridges Platform username of the user you are removing.","schema":{"type":"string"},"required":true}],"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nproject = api.projects.get(id='rfranklin/my-project')\n\n# send DELETE request to SB API\nproject.remove_member(user='jane_doe')"}],"samples-languages":["python"]}},"get":{"summary":"Get a project member's permissions","description":"This returns the permissions of a specified user within a specified project.\n\nUsers may have the following permissions on the Seven Bridges Platform:\n  * Read\n  * Write\n  * Copy\n  * Execute\n  * Admin\n\nPermissions are granted at the project-level. You may, for instance, have admin permission in one project, execute permission in another, and read-only permission in a third.\n\nFor more information on permissions on the Seven Bridges Platform, see the documentation on [setting permissions](ref:modify-a-project-members-permissions).","operationId":"get-a-project-members-permissions","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The [short name](ref:section-project-short-names) of the project to access.","schema":{"type":"string"},"required":true},{"name":"username","in":"path","description":"The Seven Bridges Platform username of the user whose permissions you are enquiring about.","schema":{"type":"string"},"required":true},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"href\": \"https://api.sbgenomics.com/v2/projects/rfranklin/my-project1/members/Jane_Doe\",\n    \"username\": \"Jane_Doe\",\n    \"email\": \"janedoe@address.com\",\n    \"permissions\": {\n        \"write\": true,\n        \"read\": true,\n        \"copy\": false,\n        \"execute\": true,\n        \"admin\": false\n    }\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/projects/rfranklin/my-project1/members/Jane_Doe"},"username":{"type":"string","example":"Jane_Doe"},"email":{"type":"string","example":"janedoe@address.com"},"permissions":{"type":"object","properties":{"write":{"type":"boolean","example":true,"default":true},"read":{"type":"boolean","example":true,"default":true},"copy":{"type":"boolean","example":false,"default":true},"execute":{"type":"boolean","example":true,"default":true},"admin":{"type":"boolean","example":false,"default":true}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nproject = api.projects.get(id='rfranklin/my-project')\n\n# send GET request to SB API\nmember = project.get_member(username='jane_doe')\n\nprint(member.username, member.permissions)"}],"samples-languages":["python"]}}},"/projects/{project_owner}/{project}/members/{username}/permissions":{"patch":{"summary":"Modify a project member's permissions","description":"This call edits a user's permissions in a specified project. It can only be successfully made by a user who has admin permissions in the project.","operationId":"modify-a-project-members-permissions","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The [short name](ref:section-project-short-names) of the project containing the project member.","schema":{"type":"string"},"required":true},{"name":"username","in":"path","description":"The project member whose permissions you are editing.","schema":{"type":"string"},"required":true},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"read":{"type":"boolean","description":"User can view file names, metadata, and workflows. They cannot view file contents.   All members of a project have `read` permissions by default. Even if you try setting `read` permissions to `false`, they will still default to `true`."},"write":{"type":"boolean","description":"User can add, modify, and remove files and workflows in a project.  Set value to `true` to assign the user write permission. Set to `false` to remove write permission."},"copy":{"type":"boolean","description":"User can view file content, copy, and download files from a project.  Set value to `true` to assign the user copy permission. Set to `false` to remove copy permission."},"execute":{"type":"boolean","description":"User can execute workflows and abort tasks in a project.  Set value to `true` to assign the user execute permission. Set to `false` to remove execute permission."},"admin":{"type":"boolean","description":"User can modify another user's permissions on a project, add or remove people from the project and manage funding sources. They also have all of the above permissions.  Set value to `true` to assign the user admin permission. Set to `false` to remove admin permission."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"write\": true,\n  \"read\": true,\n  \"copy\": false,\n  \"execute\": false,\n  \"admin\": false\n}"}},"schema":{"type":"object","properties":{"write":{"type":"boolean","example":true,"default":true},"read":{"type":"boolean","example":true,"default":true},"copy":{"type":"boolean","example":false,"default":true},"execute":{"type":"boolean","example":false,"default":true},"admin":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nproject = api.projects.get(id='RFranklin/test')\nmember = project.get_member(username='crick')\n\n# change permissions\nmember.permissions['write'] = True\n\n# send PATCH request to SB API\nmember.save()\n\nprint(member.username, member.permissions)"}],"samples-languages":["python"]}},"put":{"summary":"Overwrite a project member's permissions","description":"This call changes a project member's permissions for a specified project.\n\nUsers may have the following permissions on the Seven Bridges Platform:\n  * Read\n  * Write\n  * Copy\n  * Execute\n  * Admin\n\nFor more information, see the documentation on [setting project member permissions](ref:modify-a-project-members-permissions). Note that some user permissions imply others: for example, if you give a user admin permission, then they automatically receive read, write, copy and execute permissions.","operationId":"overwrite-a-project-members-permissions","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"project_owner","in":"path","description":"If you are using [Enterprise](doc:about-the-enterprise-feature), use the name of the Division that owns the project; otherwise, enter the project owner's Platform username.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The [short name](ref:section-project-short-names) of the project containing the project member.","schema":{"type":"string"},"required":true},{"name":"username","in":"path","description":"The Seven Bridges Platform username of the user whose permissions you are overwriting.","schema":{"type":"string"},"required":true},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["read","write","copy","execute","admin"],"properties":{"read":{"type":"boolean","description":"User can view file names, metadata, and workflows. They cannot view file contents.  All members of a project have `read` permissions by default. Even if you try setting `read` permissions to `false`, they will still default to `true`."},"write":{"type":"boolean","description":"User can add, modify, and remove files and workflows in a project.  Set value to `true` to assign the user write permission. Set to `false` to remove write permission."},"copy":{"type":"boolean","description":"User can view file content, copy, and download files from a project.  Set value to `true` to assign the user copy permission. Set to `false` to remove copy permission."},"execute":{"type":"boolean","description":"User can execute workflows and abort tasks in a project.  Set value to `true` to assign the user execute permission. Set to `false` to remove execute permission."},"admin":{"type":"boolean","description":"User can modify another user's permissions on a project, add or remove people from the project and manage funding sources. They also have all of the above permissions.  Set value to `true` to assign the user admin permission. Set to `false` to remove admin permission."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"write\": true,\n  \"read\": true,\n  \"copy\": false,\n  \"execute\": false,\n  \"admin\": false\n}"}},"schema":{"type":"object","properties":{"write":{"type":"boolean","example":true,"default":true},"read":{"type":"boolean","example":true,"default":true},"copy":{"type":"boolean","example":false,"default":true},"execute":{"type":"boolean","example":false,"default":true},"admin":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\nproject = api.projects.get(id='RFranklin/test')\nmember = project.get_member(username='crick')\n\n# set permissions\nmember.permissions = {\n    'read': True,\n    'write': True,\n    'copy': True,\n    'execute': True,\n    'admin': False\n}\n\n# send PATCH request to SB API; only modified fields will be sent\nmember.save()\n\nprint(member.username, member.permissions)"}],"samples-languages":["python"]}}},"/files":{"get":{"summary":"List files (primary method)","description":"This call returns a list of files and subdirectories in a specified project or directory within a project, with specified properties that you can access. The project or directory whose contents you want to list is specified as a query parameter in the call. Further properties to filter by can also be specified as query parameters. \n\nNote that this call lists both files and subdirectories in the specified project or directory within a project, but not the contents of the subdirectories. To list the contents of a subdirectory, make a new call and specify the subdirectory ID as the `parent` parameter.\n\nDon't forget that projects on the Platform are specified by their [short names](doc:the-api#identifying-projects-users-apps-files-tasks-and-inputs).\n\nFurther file properties to filter by can also be specified as query parameters.","operationId":"list-files-primary-method","parameters":[{"name":"project","in":"query","description":"**Required if `parent` is not used**. Project is specified in the following format: `{project_owner}/{project}`. `project_owner` is the owner of the project you are listing files from, while `project` is the project's [short name](ref:section-project-short-names). Project ID should not be used together with `parent`. If `parent` is used, the call will list the content of the specified folder, within the project to which the folder belongs. If `project` is used, the call will list the content at the root of the project's files.","schema":{"type":"string"}},{"name":"parent","in":"query","description":"**Required if `project` is not used**. ID of the folder whose content you want to list. Should not be used together with `project`. If `parent` is used, the call will list the content of the specified folder, within the project to which the folder belongs. If `project` is used, the call will list the content at the root of the project's files.","schema":{"type":"string"}},{"name":"name","in":"query","description":"List file with this name. Note that the name must be an exact complete string for the results to match. Multiple names can be separated by an `OR` operation. The `OR` operation is implied when the same parameter is queried multiple times in the same API request.","schema":{"type":"string"}},{"name":"metadata.{field}","in":"query","description":"List only files with that have the specified value in metadata field.  Multiple instances of the same metadata field are implicitly separated by an `OR` operation. Conversely, different metadata fields are implicitly separated by an `AND` operation.","schema":{"type":"string"}},{"name":"origin.task","in":"query","description":"List only files produced by task specified by ID in this field.","schema":{"type":"string"}},{"name":"tag","in":"query","description":"List files containing this tag. Note that the tag must be an exact complete string for the results to match. Multiple tags can be separated by an OR operation. The OR operation is implied when the same parameter is queried multiple times in the same API request.  Keep in mind that tags are different from metadata. Learn more about [tagging your files](doc:tag-your-files) on the Platform.","schema":{"type":"string"}},{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"href\": \"https://api.sbgenomics.com/v2/files?offset=0&limit=25&project=RFranklin/my-project\",\n  \"items\": [\n    {\n      \"href\": \"https://api.sbgenomics.com/v2/files/567890abc9b0307bc0414164\",\n      \"id\": \"568cf5dce4b0307bc0462060\",\n      \"name\": \"1000G_phase1.indels.b37.vc\",\n      \"project\": \"RFranklin/my-project\"\n    },\n    {\n      \"href\": \"https://api.sbgenomics.com/v2/files/567890abc1e5339df0414123\",\n      \"id\": \"566aad1de4b0c560b469ea80\",\n      \"name\": \"1000G_omni2.5.b37.vcf\",\n      \"project\": \"RFranklin/my-project\"\n    },\n    {\n      \"href\": \"https://api.sbgenomics.com/v2/files/567890abc4f3066bc3750174\",\n      \"id\": \"568cf5f4e4b0307bc0462062\",\n      \"name\": \"1000G_phase1.snps.high_confidence.b37.vcf\",\n      \"project\": \"RFranklin/my-project\"\n    }\n  ],\n  \"links\": []\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/files?offset=0&limit=25&project=RFranklin/my-project"},"items":{"type":"array","items":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/files/567890abc9b0307bc0414164"},"id":{"type":"string","example":"568cf5dce4b0307bc0462060"},"name":{"type":"string","example":"1000G_phase1.indels.b37.vc"},"project":{"type":"string","example":"RFranklin/my-project"}}}},"links":{"type":"array"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nfiles = api.files.query(project='rfranklin/my-project')\n\nfor file in files:\n    print(file.id, file.name)","name":"Python - List all files"},{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nfiles = api.files.query(\n    project='rfranklin/my-project',\n    metadata={\n        'sample': 'SAMPLE1'\n    }\n)\n\nfor file in files:\n    print(file.id, file.name)","name":"Python - List all files with a specific Sample ID"},{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nfiles = api.files.query(\n    project='rfranklin/my-project',\n    metadata={\n        'sample_id': 'SAM316315',\n        'library_id': 'HiSeqX_R'\n    }\n)\n\nfor file in files:\n    print(file.id, file.name)","name":"Python - List all files produced by a specific task with specific Sample ID"},{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nfiles = api.files.query(\n    project='rfranklin/my-project',\n    names=[\n        'dbsnp_137.b37.vcf',\n        '1000G_phase1.indels.b37.vcf',\n        'Mills_and_1000G_gold_standard.indels.b37.sites.vcf'\n    ]\n)\n\nfor file in files:\n    print(file.id, file.name)","name":"Python - List all files matching exact names"},{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send GET request to SB API\nfiles = api.files.query(\n    project='rfranklin/my-project',\n    tags=[\n        'test1b',\n        'my_first_project'\n    ]\n)\n\nfor file in files:\n    print(file.id, file.name)","name":"Python - List all files matching exact tags"}],"samples-languages":["python"]}},"post":{"summary":"Create a folder","description":"This call creates a new folder.Every project on the Seven Bridges Platform is represented by a root folder which contains all the files associated with a particular project. You can create nesting folders and subfolders within this root folder by using this API request.Once you've created a folder, you can [move](ref:move-a-file-between-folders) or [copy](ref:copy-a-file)  files between folders to populate your newly created folder.To list the contents of the main project folder, first make the API request to [get project details](ref:get-project-details) which will return the ID of the main folder (key: `root_folder`). Next, use the [list folder contents](ref:list-folder-contents) call and specify this ID.","operationId":"create-a-folder","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","type"],"properties":{"name":{"type":"string","description":"The name of the folder. It shouldn't begin with \"__\"."},"type":{"type":"string","description":"Set this to `folder`.","default":"folder"},"parent":{"type":"string","description":"Specifies the ID of the parent folder for the new folder.  You should either specify a parent folder or the project name (see [list folder contents](ref:list-folder-contents) for instructions on how to find the folder ID)."},"project":{"type":"string","description":"Project ID (`username/project_name`).   You should either specify a project name or the parent folder ID."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"href\": \"https://api.sbgenomics.com/v2/files/567890abc8a5136ec6127063\",\n  \"id\": \"5887b406e4b07ecb1445de83\",\n  \"name\": \"my_new_folder\",\n  \"parent\": \"567890abc9b0307bc0414164\",\n  \"type\": \"FOLDER\",\n  \"created_on\": \"2016-10-10T14:06:25Z\",\n  \"modified_on\": \"2016-10-10T14:06:25Z\"\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/files/567890abc8a5136ec6127063"},"id":{"type":"string","example":"5887b406e4b07ecb1445de83"},"name":{"type":"string","example":"my_new_folder"},"parent":{"type":"string","example":"567890abc9b0307bc0414164"},"type":{"type":"string","example":"FOLDER"},"created_on":{"type":"string","example":"2016-10-10T14:06:25Z"},"modified_on":{"type":"string","example":"2016-10-10T14:06:25Z"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"from sevenbridges import Api\n\napi = Api(url='https://api.sbgenomics.com/v2',\n          token='3210a98c1db9318fa9d9273156740f74')\n\n# send POST request to SB API\nnew_folder = api.files.create_folder(\n    name='my_new_folder',\n    parent='567890abc9b0307bc0414164'\n)\n\nprint(new_folder.name, new_folder.id, new_folder.type)","name":"Python"}],"samples-languages":["python"]}}},"/projects/{project_owner}/{project}/files":{"get":{"summary":"List files (secondary method)","description":"This call lists the files in the specified project. It is an alias for the call [list files](ref:list-files-primary-method) and redirects to that path.","operationId":"list-files-secondary-method-1","parameters":[{"name":"X-SBG-Auth-Token","in":"header","description":"Your Seven Bridges Platform [authentication token](doc:get-your-authentication-token). For security reasons, token will not be automatically populated in the generated code sample. Please replace `<your-token-here>` with your token before executing this call.","required":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying a subset of fields to include in the response.","schema":{"type":"array","items":{"type":"string"}}},{"name":"project_owner","in":"path","description":"The owner of the project you are querying.","schema":{"type":"string"},"required":true},{"name":"project","in":"path","description":"The short name of the project you are querying.","schema":{"type":"string"},"required":true},{"name":"offset","in":"query","description":"The zero-based starting index in the entire collection of the first item to return. The default value is 0. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"The maximum number of collection items to return for a single request. Minimum value is 1. The maximum value is 100 and the default value is 50. This is a pagination-specific attribute.","schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"href\": \"https://api.sbgenomics.com/v2/files/?offset=0&limit=25&project=rfranklin/my-project\",\n  \"items\": [\n    {\n      \"href\": \"https://api.sbgenomics.com/v2/files/567890abc9b0307bc0414164\",\n      \"id\": \"568cf5dce4b0307bc0462060\",\n      \"name\": \"my_reference.vcf\",\n      \"project\": \"rfranklin/my-project\"\n    },\n    {\n      \"href\": \"https://api.sbgenomics.com/v2/files/567890abc1e5339df0414123\",\n      \"id\": \"566aad1de4b0c560b469ea80\",\n      \"name\": \"_1_unsorted.bam\",\n      \"project\": \"rfranklin/my-project\"\n    },\n    {\n      \"href\": \"https://api.sbgenomics.com/v2/files/567890abc4f3066bc3750174\",\n      \"id\": \"568cf5f4e4b0307bc0462062\",\n      \"name\": \"unsorted.bam\",\n      \"project\": \"rfranklin/my-project\"\n    }\n  ],\n  \"links\": []\n}"}},"schema":{"type":"object","properties":{"href":{"type":"string","example":"https://api.sbgenomics.com/v2/files/?offset=0&limit=25&project=rfranklin/my-project"},"items":{"type":"array","items":{"type":"object","properties":{"href":{"typ
[...]
