{"openapi":"3.1.0","info":{"title":"API Settings","version":"unknown"},"servers":[{"url":"https://cgc-api.sbgenomics.com/v2"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"":{"post":{"summary":"Start a bulk DRS import job","description":"","operationId":"start-a-bulk-drs-import-job","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Get details of a bulk DRS import job","description":"","operationId":"get-details-of-a-bulk-drs-import-job","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"Overwrite a volume members' permissions","description":"","operationId":"overwrite-a-volume-members-permissions","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Remove members from a volume","description":"","operationId":"remove-members-from-a-volume","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Modify a volume members' permissions","description":"","operationId":"modify-a-volume-members-permissions","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/tasks":{"post":{"summary":"Create a new draft task","description":"/tasks","operationId":"create-a-new-task","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List tasks you can access (primary method)","description":"/tasks","operationId":"list-tasks-you-can-access","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"https://cgc-api.sbgenomics.com/v2/billing/groups/{billing_group}":{"get":{"summary":"Get a single billing group","description":"/billing/groups/{billing_group}","operationId":"get-a-single-billing-group","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/billing/invoices":{"get":{"summary":"List invoices","description":"/billing/invoices","operationId":"list-invoices","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/files/{file_id}":{"get":{"summary":"Get file details","description":"/files/{file_id}","operationId":"get-file-details","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/projects/{owner}/{id}/files":{"get":{"summary":"Get the list of files in a project","description":"/projects/{owner}/{id}/files","operationId":"get-the-list-of-files-in-a-project","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/files/paths":{"post":{"summary":"Get file IDs from file paths","description":"/files/path","operationId":"get-file-ids-from-file-paths","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/files/{file_id}/metadata":{"get":{"summary":"Get a file's metadata","description":"files/{file_id}/metadata","operationId":"get-a-files-metadata","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/action/files/copy":{"post":{"summary":"Copy multiple files between projects","description":"/action/files/copy","operationId":"copy-files-between-projects-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tasks/{task_id}":{"patch":{"summary":"Modify a task","description":"/tasks/{task_id}","operationId":"modify-a-task","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/files/{file_id}/actions/copy":{"post":{"summary":"Copy a file between projects","description":"/v2/files/{file_id}/actions/copy","operationId":"copy-a-file","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/upload/multipart/{upload_id}/part":{"post":{"summary":"Report an uploaded part","description":"/upload/multipart/{upload_id}/part","operationId":"report-an-uploaded-part","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/upload/multipart/{upload_id}/part/{part_number}":{"get":{"summary":"Get upload URL for a file part","description":"/upload/multipart/{upload_id}/part/{part_number}","operationId":"get-upload-url-for-a-file-part","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/upload/multipart/{upload_id}":{"post":{"summary":"Report uploaded parts","description":"/upload/multipart/{upload_id}","operationId":"report-uploaded-parts","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/storage/exports/{export_id}":{"get":{"summary":"Get details of an export job","description":"","operationId":"get-details-of-an-export-job-v2","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/storage/volumes/{volume_id}/list":{"get":{"summary":"List the contents of a volume","description":"","operationId":"list-the-contents-of-a-volume","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/storage/volumes/{volume_id}/{object_id}":{"get":{"summary":"Get details of a file within a volume","description":"","operationId":"get-details-of-a-file-within-a-volume","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/bulk/storage/exports/create":{"post":{"summary":"Start a bulk export job","description":"","operationId":"start-a-bulk-export-job","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[]},"x-readme-fauxas":true}